# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/daxerly?schema=public"

# NextAuth
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# GitHub OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Slack OAuth
SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Linear OAuth
LINEAR_CLIENT_ID=""
LINEAR_CLIENT_SECRET=""

# Notion OAuth
NOTION_CLIENT_ID=""
NOTION_CLIENT_SECRET=""

# GitLab OAuth
GITLAB_CLIENT_ID=""
GITLAB_CLIENT_SECRET=""
